.main-menu {
    display: grid;
    align-items: center;
    justify-items: center;
    background: linear-gradient(170deg, transparent 80%, #91CBCF 30%),
    linear-gradient(156deg, transparent 68%, #E3D9C3 30%),
    linear-gradient(135deg, transparent 60%, #91CBCF 30%),
    linear-gradient(115deg, transparent 55%, #E3D9C3 30%),
    linear-gradient(65deg, transparent 45%, #91CBCF 30%),
    linear-gradient(45deg, transparent 40%, #E3D9C3 30%),
    linear-gradient(24deg, transparent 32%, #91CBCF 30%),
    linear-gradient(10deg, transparent 20%, #E3D9C3 20%),
    linear-gradient(0deg, transparent 0%, #91CBCF 0%);
    background-position: center;
    background-size: 100% 100%;
    grid-area: mm;
    width: 190px;
    height: 850px;
}
