.todo__back {
    width: 30%;
    justify-self: center;
    text-align: center;
    background: linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px -37px,
    linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px 111px,
    linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px 37px,
    linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px 37px,
    linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 0px,
    linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 0px,
    linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 74px,
    linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 74px;
    background-size: 148px 148px;
    background-color: lightskyblue;
}

.todo__main {
    display: flex;
    flex-direction: column;
}

.b-todos {

}

.b-todos .todos__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.b-todos .todos__item {
    margin-top: 30px;
    margin-bottom: 10px;
    padding-bottom: 1px;
    border-bottom: 1px solid #4892ff;
}

.b-todos .todos__item button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}
