.head-main img {
    margin-top: 20px;
    width: 170px;
    margin-left: 10px;
}
.head-main {
    grid-area: hm;
    background: linear-gradient(45deg, #f5fbff 30%, #4892ff 90%);
    background-size: 10px 10px;
}