.text-enter {
    display: grid;
    grid-template-areas: "tei teb";
    grid-template-columns: 500px;
}

.text-enter button {
    grid-area: teb;
    width: 120px;
}
/*.text-enter input {*/
/*    margin-left: 10px;*/
/*    margin-right: 10px;*/
/*    grid-area: tei;*/
/*    background-color: azure;*/
/*    width: 500px;*/
/*    height: 20px;*/
/*}*/

.future {
    background: linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px -37px,
    linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px 111px,
    linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px 37px,
    linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px 37px,
    linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 0px,
    linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 0px,
    linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 74px,
    linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 74px;
    background-size: 148px 148px;
    background-color:lightskyblue;
}

.post-card {
    margin-bottom: 20px;
    max-width: 800px;
}
.profile-title {
    margin-bottom: 20px;
}
.profile__date{
    padding-left:700px;
}