.flex-up {
    display: grid;
    grid-template-areas: "hm hm" "mm fa";
    grid-template-rows: 80px 1fr;
    grid-template-columns: 1fr 14fr;
    grid-gap: 10px;
}

.full {
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #f5fbff 30%, #4892ff 90%);
    background-size: 10px 10px;
}